
		.lightGreen {
			background-color: lightgreen;
		}

		.lightBlue {
			background-color: lightblue;
		}

		.lightCoral {
			background-color: lightcoral;
		}
		
		.test-div {
			border:1px solid black;
			width:100px;
			height:100px;
			padding:10px;
		}